<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [formGroup]="form" [fullscreen]="true">
  <div class="d-flex flex-column p-5 justify-content-evenly">
    <div class="text-center mb-5 mt-5">
      <img class="w-75" src="assets/logo.png" />
    </div>

    <div class="d-flex flex-column">
      <div class="input-group">
        <span class="input-group-text text-danger" id="login"><ion-icon name="person-circle"></ion-icon></span>
        <input type="text" class="form-control" formControlName="login" placeholder="Login" aria-label="Login" aria-describedby="login">
      </div>

      <div *ngIf="form.invalid && form.touched && form.get('login')?.errors?.required">
        <span class="text-danger fw-bolder">O E-mail é obrigatório</span>
      </div>

      <div class="input-group mt-3">
        <span class="input-group-text text-danger" id="senha"><ion-icon name="lock-open-outline"></ion-icon></span>
        <input type="password" class="form-control" formControlName="senha" placeholder="Senha" aria-label="Senha" aria-describedby="senha" >
      </div>

      <div *ngIf="form.invalid && form.touched && form.get('senha')?.errors?.required">
        <span class="text-danger fw-bolder">A senha é obrigatório</span>
      </div>

      <div class="primary-color text-end mt-2">
        <a (click)="navegacao('/recuperar')" >Esqueceu sua senha?</a>
      </div>
    </div>

    <div class="mt-3">
      <button class="btn btn-danger w-100" (click)="entrar()">Entrar</button>
    </div>

    <div class="d-flex flex-column p-5">
      <div class="mt-3 text-center">
        Logar com
      </div>

      <div class="d-flex flex-row align-items-center justify-content-center">
        <div class="p-2 w-50"><img src="assets/gplus.png"></div>
        <div class="p-2 ml-3 w-50"><img src="assets/face.png"></div>
      </div>
    </div>

    <div class="text-center">
      Não tem uma conta ? <a class="primary-color" (click)="navegacao('/criar')">Criar </a>
    </div>
  </div>

</ion-content>
