<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Serviços
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="pt-3 agendamentos">
    <button class="btn btn-danger w-100 mb-3">Cadastrar Serviço</button>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary text-black" type="button" id="button-addon2"><ion-icon class="text-black" name="search-outline"></ion-icon></button>
    </div>

    <div class="card mb-3" *ngFor="let item of numbers">
      <div class="d-flex flex-row">
        <div class="col-4">
          <img src="assets/cilhos.jpg" class="img-fluid rounded-start h-100" alt="...">
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title">Extensão de Cilhos</h5>
            <p class="card-text"> Valor: R$ 160,00 </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-3" *ngIf="!numbers || numbers.length === 0">
    <span>Nenhum serviço cadastrado</span>
  </div>


</ion-content>
