<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agenda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="p-3">
    <button routerLink="/cadastro" class="btn btn-danger w-100 mb-3">Novo Agendamento</button>
  </div>

  <div class="input-group p-3">
    <ion-calendar [(ngModel)]="date"
                  [type]="type"
                  [format]="'DD-MM-YYYY'">
    </ion-calendar>
  </div>


  <div class="pt-3 agendamentos overflow-scroll" >
    <h4 class="text-center fw-bold">
      Agendamentos  {{date ? ' - ' + (date | date:'dd/MM/yyyy') : ''}}
    </h4>

    <div class="mb-2" *ngFor="let item of items">
      <ion-card>
        <ion-item>
          <ion-label>Maria Rosario da Silva</ion-label>
          <ion-button fill="outline" slot="end"><ion-icon class="fs-1 fw-bolder" name="eye-outline"></ion-icon></ion-button>
        </ion-item>

        <ion-card-content class="d-flex flex-column">
          <div>
            <span class="fw-bolder">Horario: </span> <span>10:00 ás 11:00</span>
          </div>

          <div>
            <span class="fw-bolder">Endereço: </span>
            <span>QN3 CJ 20 CS22 - Taguatinga , 72592021 - DF</span>
          </div>
        </ion-card-content>
      </ion-card>
    </div>


  </div>

</ion-content>
