<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agendamento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="pt-3 agendamentos">
    <label class="fw-bolder"> Escolha um Dia / Horario: </label>
  </div>

  <div class="input-group mt-3 justify-content-center">
    <ion-datetime-button datetime="datetime"></ion-datetime-button>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime"></ion-datetime>
      </ng-template>
    </ion-modal>
  </div>

  <div class="pt-3 agendamentos">
    <label class="fw-bolder"> Cliente: </label>

    <div class="card mb-3">
      <div class="d-flex flex-row">
        <div class="col-4">
          <img src="assets/user.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title">Maria Rosario</h5>
            <p class="card-text"> Unha de Fibra </p>
            <p class="card-text"> Obs: Alergia a XXX </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row p-3">
    <ion-icon class="primary-color fs-1" name="navigate"></ion-icon>
    <span class="ms-3">QN3 CJ10 CS5 - Taguatinga - DF</span>
  </div>

  <div class="d-flex flex-row p-3">
    <ion-icon class="primary-color fs-1" name="call"></ion-icon>
    <span class="ms-3">+55 61 99723-4030</span>
  </div>

  <div class="d-flex flex-row pt-3 fs-1 mt-3 mb-3 align-items-end justify-content-end agendamentos">
    <a routerLink="/cadastro" class="input-group-text text-danger"><ion-icon class="fs-1" name="add-circle"></ion-icon></a>
  </div>

  <table class="table p-3">
    <thead>
    <tr>
      <th scope="col">Serviço</th>
      <th scope="col">Valor</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Extensão de Cilhos</td>
      <td>R$ 160,00</td>
    </tr>
    <tr>
      <td>Unha de Fibra</td>
      <td>R$ 200,00</td>
    </tr>
    <tr>
      <td>Sombrancelha de Rena</td>
      <td>R$ 300,00</td>
    </tr>
    <tr>
      <td class="fw-bolder">Total</td>
      <td>R$ 660,00</td>
    </tr>
    </tbody>
  </table>

  <div class="pt-3 agendamentos">
    <button class="btn btn-danger w-100"> Cadastrar Agendamento </button>
  </div>


</ion-content>
