<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre Nos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="d-flex flex-column pt-3 fs-1 mt-3  agendamentos">
    <h3 class="text-center ">
      Quer entrar em contato ?
    </h3>
    <div class="d-flex flex-row align-items-center">
      <a class="text-danger fw-bolder"><ion-icon name="call-outline"></ion-icon></a>
      <span class="fs-5 ms-1"> +55 61 9999-9999 </span>
    </div>

    <div class="d-flex flex-row align-items-center">
      <a class="text-danger fw-bolder"><ion-icon name="mail-outline"></ion-icon></a>
      <span class="fs-5 ms-1"> teste@teste.com </span>
    </div>

    <div class="d-flex flex-row align-items-center">
      <a class="text-danger fw-bolder"><ion-icon name="navigate-outline"></ion-icon></a>
      <span class="fs-5 ms-1"> Avenida araucarias , 55 - Sala 110 - Shopping Aguas Claras </span>
    </div>
  </div>

</ion-content>
