<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ações Principais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="agendamento p-2">
    <div class="ms-auto btn btn-outline-primary w-100 d-flex flex-column align-items-baseline">
      <span>Novo Agendamento</span>
      <span>Agendar um novo serviço</span>
    </div>
  </div>

  <div class="agendamento p-2">
    <div class="ms-auto btn btn-outline-primary w-100 d-flex flex-column align-items-baseline">
      <span>Cadastrar Cliente</span>
      <span>Cadastrar um novo cliente</span>
    </div>
  </div>

  <div class="agendamento p-2">
    <div class="ms-auto btn btn-outline-primary w-100 d-flex flex-column align-items-baseline">
      <span>Fechar Conta</span>
      <span>Fechar a conta de um cliente</span>
    </div>
  </div>

</ion-content>

