/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.social {
  border: solid 1px #ccc;
  border-radius: 15px;
}


.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
  background-color: #fc7e17 !important;
}

.text-danger {
  color: #fc7e17 !important;
}

.input-group-text {
  background-color: transparent !important;
}


//$tab-button-ios-active-color: color($colors, #fc7e17);

ion-tab-bar, ion-tab-button{
  background-color: #ffffff;
  color: #fc7e17;
}

ion-icon {
  color: #fc7e17;
}

button {
  ion-icon{
    color: #ffffff;
  }
}

.primary-color {
  color: #fc7e17 !important;
  font-weight: bolder;
}

.card-bg {
  background-color: #ededed;
}

.agendamentos {
  padding-left: 1rem;
  padding-right: 1rem;
}

.number-card {
  padding: 5px;
  border: solid 1px #ccc;
  border-radius: 15px;
  background-color: #efebeb;
  font-weight: bold;
}
