<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Area Logada
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="p-3 d-flex flex-column h-100">
    <div *ngFor="let item of menus">
      <div class="itens-menu-logada d-flex flex-row mb-2">
        <span><ion-icon class="text-black fw-bolder" name="{{item.icon}}"></ion-icon></span>
        <span class="ms-2">{{item.name}}</span>
        <span class="text-black fw-bolder ms-auto"> <ion-icon class="text-black fw-bolder" name="chevron-forward-circle"></ion-icon> </span>
      </div>

    </div>
  </div>

</ion-content>
